.container {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}
.grid {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  grid-gap: 64px;
}
.grid-main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 50px;
  margin-top: 0;
}

body {
  font-family: "Poppins", sans-serif;
}
header h1 {
  font-weight: 700;
  font-size: 96px;
  line-height: 1.5;
}
header h2 {
  font-weight: 900;
  font-size: 24px;
  line-height: 1.5;
  letter-spacing: 5px;
}
header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("../images/georgia.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-align: center;
  padding: 100px 10px;
  text-decoration: none;
}
header h3 {
  font-weight: 900;
  font-size: 100px;
}
header a {
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 3px;
  text-decoration: none;
  color: black;
  padding: 16px 32px;
  background: white;
  display: inline-block;
}
@media (max-width: 900px) {
  header h1 {
    font-size: 24px;
  }
  header h2 {
    font-size: 20px;
  }
  header a {
    padding: 10px 15px;
  }
  .grid {
    grid-template-columns: 1fr;
    grid-gap: 32px;
    padding-left: 30px;
  }
  .grid-main {
    grid-template-columns: 1fr;
    grid-gap: 32px;
  }
  section {
  }
}
footer {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("../images/savannah.png");
  background-repeat: no-repeat;
  background-size: cover;

  color: white;
}
footer h3 {
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
}
footer p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  opacity: 0.9;
  margin-right: 5px;
}
footer ul {
  padding: 0;
}
footer li {
  list-style: none;
  margin: 0;
  padding: 0;
}
footer a {
  color: white;
  opacity: 0.7;
}
section {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px 0;
}
main h2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  color: #272044;
}
main h3 {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 5px;
  color: #272044;
  display: block;
  text-align: center;
  margin-top: 50px;
}
main img {
  margin-top: 48px;
}
main p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
